In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('../DTP_data.csv')

In [4]:
data

,title,r_i_docking_score,smiles
0,1,-3.86041,CC1=CC(=O)C=CC1=O
1,4,-3.00878,Nc1ncc([N+](=O)[O-])s1
2,5,-8.66915,Nc1ccc2c(c1)C(=O)c1ccccc1C2=O
3,7,-5.88500,C[NH+](C)C1=C(Cl)C(=O)c2ccccc2C1=O
4,8,-7.77890,Cc1ccc2c(c1[N+](=O)[O-])C(=O)c1ccccc1C2=O
...,...,...,...
132462,785181,-7.24382,COc1c(O)ccc2c1-c1c3c(cc4c1[C@H](C2)[NH+](C)CC4...
132463,785185,-6.68290,CCOc1cc2c(cc1OC)CC[NH2+][C@H]2Cc1ccc(O)cc1
132464,785187,-6.41699,COc1ccc2c(c1OC)-c1c(OC)c(OC)cc3c1[C@H](C2)[NH2...
132465,785188,-7.07859,COc1ccc2c(c1O)-c1c3c(cc4c1[C@H](C2)[NH+](C)CC4...
132466,788948,-6.82520,CC(=O)OC[C@H]1O[C@@H](n2ccc(=O)[nH]c2=O)[C@H](...

In [5]:
empty_values_per_column = data.isnull().sum()

In [6]:
empty_values_per_column

title                  0
r_i_docking_score    497
smiles                 0
dtype: int64

In [7]:
data_cleaned = data.dropna(subset=['r_i_docking_score'])
data_cleaned

,title,r_i_docking_score,smiles
0,1,-3.86041,CC1=CC(=O)C=CC1=O
1,4,-3.00878,Nc1ncc([N+](=O)[O-])s1
2,5,-8.66915,Nc1ccc2c(c1)C(=O)c1ccccc1C2=O
3,7,-5.88500,C[NH+](C)C1=C(Cl)C(=O)c2ccccc2C1=O
4,8,-7.77890,Cc1ccc2c(c1[N+](=O)[O-])C(=O)c1ccccc1C2=O
...,...,...,...
132462,785181,-7.24382,COc1c(O)ccc2c1-c1c3c(cc4c1[C@H](C2)[NH+](C)CC4...
132463,785185,-6.68290,CCOc1cc2c(cc1OC)CC[NH2+][C@H]2Cc1ccc(O)cc1
132464,785187,-6.41699,COc1ccc2c(c1OC)-c1c(OC)c(OC)cc3c1[C@H](C2)[NH2...
132465,785188,-7.07859,COc1ccc2c(c1O)-c1c3c(cc4c1[C@H](C2)[NH+](C)CC4...
132466,788948,-6.82520,CC(=O)OC[C@H]1O[C@@H](n2ccc(=O)[nH]c2=O)[C@H](...

In [9]:
data_cleaned.isnull().sum()

title                0
r_i_docking_score    0
smiles               0
dtype: int64

In [10]:
data_cleaned.to_csv('DTP_data_final.csv')